In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("relationship_breakup_dataset.csv")

In [4]:
df.head()

,Post,Sentiment,Breakup_Label,Upvotes,Downvotes,Comment_Count
0,"I don't trust him anymore, I think the relatio...",0.000,1,410,98,93
1,"We had a disagreement, but I think we'll work ...",0.000,0,85,97,36
2,"Things aren't perfect, but I'm willing to fix it.",0.625,0,390,10,37
3,"She cheated, and I don't know if I can forgive...",0.000,1,115,58,60
4,"We had a disagreement, but I think we'll work ...",0.000,0,252,74,48

In [5]:
df.columns

Index(['Post', 'Sentiment', 'Breakup_Label', 'Upvotes', 'Downvotes',
       'Comment_Count'],
      dtype='object')

In [6]:
df.drop(columns=['Sentiment','Upvotes','Downvotes','Comment_Count'],inplace=True)

In [7]:
df.head()

                                                Post  Breakup_Label
0  I don't trust him anymore, I think the relatio...              1
1  We had a disagreement, but I think we'll work ...              0
2  Things aren't perfect, but I'm willing to fix it.              0
3  She cheated, and I don't know if I can forgive...              1
4  We had a disagreement, but I think we'll work ...              0

In [8]:
df.shape

(10000, 2)

In [9]:
df.head(100)

                                                 Post  Breakup_Label
0   I don't trust him anymore, I think the relatio...              1
1   We had a disagreement, but I think we'll work ...              0
2   Things aren't perfect, but I'm willing to fix it.              0
3   She cheated, and I don't know if I can forgive...              1
4   We had a disagreement, but I think we'll work ...              0
..                                                ...            ...
95  We’ve been through tough times before, and we’...              0
96  We had a disagreement, but I think we'll work ...              0
97  I feel like we're drifting apart, should I end...              1
98  We haven't talked in days, and I feel like I s...              1
99  I feel like I need some space, but I'm not thi...              0

[100 rows x 2 columns]

# converting words into vectors -> first tokenization ,lowering etc

In [10]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
import re

In [12]:
porter_stemmer = PorterStemmer()

def stemmer (content):
    st_content= re.sub('[^a-zA-Z]',' ',content)
    st_content= st_content.lower()
    st_content=st_content.split()
    st_contetnt = [porter_stemmer.stem(word) for word in st_content if not word in stopwords.words('english')]
    st_content= ' '.join(st_content)
    return st_content

In [13]:
df["Post"] = df["Post"].apply(stemmer)

In [14]:
df.head()

                                                Post  Breakup_Label
0  i don t trust him anymore i think the relation...              1
1  we had a disagreement but i think we ll work t...              0
2    things aren t perfect but i m willing to fix it              0
3  she cheated and i don t know if i can forgive ...              1
4  we had a disagreement but i think we ll work t...              0

# Vectorization

can use snowfall,regexp,or other , but im comfy with tfidf

In [15]:
vectorizer = TfidfVectorizer()

In [16]:
x=df["Post"]
y=df["Breakup_Label"]

In [17]:
vectorizer.fit(x)
x=vectorizer.transform(x)

In [18]:
x

<10000x97 sparse matrix of type '<class 'numpy.float64'>'
	with 110186 stored elements in Compressed Sparse Row format>

In [19]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

### Time for model building

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [21]:
models = [LogisticRegression,SVC,DecisionTreeClassifier,RandomForestClassifier]

In [22]:
for model in models :
    print(f"Evaluating model : {model.__name__}")

    classifier= model().fit(x_train,y_train)
    y_pred=classifier.predict(x_test)
    print(accuracy_score(y_test, y_pred))

Evaluating model : LogisticRegression
1.0
Evaluating model : SVC
1.0
Evaluating model : DecisionTreeClassifier
1.0
Evaluating model : RandomForestClassifier
1.0

In [50]:
model=LogisticRegression()
classifer=model.fit(x_train,y_train)
text="we dont talk"

text=stemmer(text)

text=vectorizer.transform([text])
res=model.predict(text)
res

array([0])